* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    padding: 10px;
    display: flex;          
    gap: 10px;             
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
    display: inline-block;  
}

.text {
    position: relative;    
    left: 0;
    top: 20px;
    text-align: center;
}